
<div class="tabClass">
  <mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Sign In">
      <mat-card class="card">
        this is form
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-error 
            *ngIf="allControls?.email?.errors?.['email']&&submitted">
              Invalid email
            </mat-error>
            <mat-error *ngIf="allControls?.email?.errors?.['required']&&submitted">
              Email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]= "hide?'password':'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="allControls?.password?.errors?.['required']&&submitted">
              Password is required
            </mat-error>
          </mat-form-field>
          <div style="text-align: center;">
            <button mat-raised-button color="primary">Login</button>
          </div>
        </form>
      </mat-card>
    </mat-tab>
    <mat-tab label="Sign Up">
      <mat-card class="card">
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
